@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800&display=swap);


.ganres {
	position: relative;  
}

.container-just {
  max-width: 1490px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0 95px;
}

.genres-list {
	display: flex;
	align-items: center;
	list-style-type: none;
  gap: 16px;
}


.genres-item {
  padding: 40px 0;
  min-width: 215px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  color: #F9F9F9;
  background-image: url('../../assets/images/ganres-img-1.png');
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(249, 249, 249, 0.1);
  border-radius: 12px;
}


.genres-item:nth-child(2) {
  background-image: url('../../assets/images/ganres-img-2.png');
}

.genres-item:nth-child(3) {
  background-image: url('../../assets/images/ganres-img-3.png');
}

.genres-item:nth-child(4) {
  background-image: url('../../assets/images/ganres-img-4.png');
}

.genres-item:nth-child(5) {
  background-image: url('../../assets/images/ganres-img-5.png');
}

.genres-item:nth-child(6) {
  background-image: url('../../assets/images/ganres-img-6.png');
}

.ganres .just__gradient {
  right: 39px;
  z-index: 2;
}