
.md-site-header-right {
  padding-right: 3px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.md-h-right-item {
  margin-left: 27px;
}

.md-h-right-item:last-child {
  margin-left: 8px;
}
