
.site-header {
  padding: 40px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  transition: all 0.5s linear;
}

.site-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  transform: translate(0%, -100%);
  transition: all 500ms linear;
}